form.aui .field-group
{
    text-align : center;
}

form.aui .field-group label
{
    width       : 300px;
    padding-top : 0px;
    line-height : 45px;
    float       : none;
    display     : inline;
}

form.aui .field-group
{
}

ul.sorted
{
    min-height : 40px;
}

.ui-state-highlight
{
    height           : 65px;
    line-height      : 65px;
    background-color : #f3f9f4;
}

input[type=text]
{
    display : none;
}

.common
{
    font-style : italic;

}

.purchase
{
    font-weight : bold;
    display     : block;
    margin      : 10px 0px 0px;
}

.cccVersionInfo
{
    padding-top    : 1px;
    padding-bottom : 1px;
    font-size      : 1em;
    line-height    : 18px;
}
